.selected {
  background-color: rgb(129, 203, 228);
  border-radius: 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  position: absolute;
  left: 24px;
  width: 32px;
  height: 32px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

div {
  margin-left: auto;
  margin-right: 24px;
}
